{% extends "layouts/_base.njk" %}

<!-- prettier-ignore -->
{% block body %}
<main class="flex items-center justify-center mt-16">
  <div
    class="w-full sm:w-lg sm:flex-initial py-6 px-8 border-t border-b sm:border border-gray-300 sm:rounded bg-white"
  >
    <h1 class="text-2xl leading-tight font-serif mb-4">{{ title }}</h1>
    <h2 class="text-xs text-gray-700 font-serif mb-1">Ingredients</h2>
    <ul class="mb-4">
      {% for ingredient in ingredients %}
      <li>
        {{ ingredient }}
      </li>
      {% endfor %}
    </ul>
    <h2 class="text-xs text-gray-700 font-serif mb-1">Preparation</h2>
    <div>
      <p>{{ recipe }}</p>
      {% if notes %}
      <hr class="my-4 text-gray-300" />
      <div class="notes-markdown">{{ notes | markdown | safe }}</div>
      {% endif %}
    </div>
  </div>
</main>
<div class="max-w-lg flex justify-center sm:justify-end mx-auto mt-4 sm:mt-2">
  <a href="/" class="text-sm sm:text-xs text-gray-600 hover:underline"
    >More drinks →</a
  >
</div>
<!-- prettier-ignore -->
{% endblock %}
